<img class="navBackGround" src="/assets/images/blackBack/buttonsField.png">

<div class="navFather" >
  <!-- Profile -->
  <div (click)="navigateTo('main/profile', false, false)" class="hover-item" style="display: flex; flex-direction: column;">
    <button class="register-button">Profile</button>
    <div style="top: -35px; left: 22px" class="shape-wrapper">
      <div style="height: 50px;" class="shape red-fill jelly">
        <svg viewBox="0 0 120 50">
          <polygon fill="blue" points="0,0 90,0 70,40 30,50"/>

        </svg>
      </div>
    </div>
  </div>

  <div (click)="navigateTo('main/friends', false, false)" class="hover-item" style="display: flex; flex-direction: column;">
    <button class="register-button">Friends</button>
    <div style="top: -35px; left: 22px" class="shape-wrapper">
      <div style="height: 50px;" class="shape red-fill jelly">
        <svg viewBox="0 0 120 50">
          <polygon fill="blue" points="0,0 90,0 70,40 30,50"/>
        </svg>
      </div>
    </div>
  </div>

  <!-- Chats -->
  <div (click)="navigateTo('chat', true, true)" class="hover-item" style="display: flex; flex-direction: column;">
    <button class="register-button">Chats</button>
    <div style="top: -35px; left: 12px" class="shape-wrapper">
      <div style="height: 50px;" class="shape red-fill jelly">
        <svg viewBox="0 0 120 50">
          <polygon fill="blue" points="10,5 100,0 85,45 25,40"/>

        </svg>
      </div>
    </div>
  </div>

  <!-- Posts -->
  <div (click)="navigateTo('posts', true, true)" class="hover-item" style="display: flex; flex-direction: column;">
    <button class="register-button">POSts</button>
    <div style="top: -35px; left: -10px" class="shape-wrapper">
      <div style="height: 50px;" class="shape red-fill jelly">
        <svg viewBox="0 0 120 50">
          <polygon fill="blue" points="20,0 110,10 90,50 40,45"/>
        </svg>
      </div>
    </div>
  </div>

  <!-- Quiz -->
  <div class="hover-item" style="display: flex; flex-direction: column;">
    <button class="register-button">quiZ</button>
    <div style="top: -50px; left: 20px" class="shape-wrapper">
      <div style="height: 50px;" class="shape red-fill jelly">
        <svg viewBox="0 0 120 50">
          <polygon fill="blue" points="5,10 105,0 95,35 15,50"/>

        </svg>
      </div>
    </div>
  </div>

  <!-- Settings -->
  <div (click)="navigateTo('settings', true, true)" class="hover-item" style="display: flex; flex-direction: column;">
    <button class="register-button">Settings</button>
    <div style="top: -35px; left: 20px" class="shape-wrapper">
      <div style="height: 50px;" class="shape red-fill jelly">
        <svg viewBox="0 0 120 50">
          <polygon fill="blue" points="15,0 95,5 85,50 35,45"/>

        </svg>
      </div>
    </div>
  </div>



</div>



